.places__paragraph {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    list-style: none;
    font-style: normal;
    font-weight: 400;
    line-height: 1.63;
    padding: 0;
    margin: 0;
    gap: 26px;
    grid-area: places__paragraph;
}


@media (max-width: 1023px) {
    .places__paragraph {
        font-size: 16px;
        gap: 25px;
    }
}

@media (max-width: 767px) {
    .places__paragraph {
        padding: 0 16px 0 16px;
    }
}