.cover__text {
    padding: 312px 245px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    box-sizing: content-box;
    gap: 32px;
}

@media screen and (max-width: 1279px) {
    .cover__text{
        padding: 232px 195px;
    }
}

@media (max-width: 1023px) {
    .cover__text {
        padding: 115px 104px;
    }
}

@media (max-width: 767px) {
    .cover__text {
        padding: 33px 16px;
    }
}