.cover__text {
    padding: 245px 312px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    gap: 32px;
}

@media screen and (max-width: 1279px) {
    .cover__text {
        padding: 195px 232px;
    }
}

@media (max-width: 1023px) {
    .cover__text {
        padding: 115px 104px;
    }
}

@media (max-width: 767px) {
    .cover__text {
        padding: 33px 16px;
        gap: 16px;
    }
}