.cover__title {
    font-size: 72px;
    line-height: 76px;
    font-style: normal;
    font-weight: 900;
    text-decoration: none;
    color: #FFFFFF;
    text-align: center; 
}


@media (max-width: 767px) {
    .cover__title {
        font-size: 32px;
        line-height: 1; 
    }
}

