.cover__title {
    font-size: 72px;
    line-height: 1.05;
    font-style: normal;
    font-weight: 900;
    text-decoration: none;
    color: #FFFFFF;
    text-align: center;
    box-sizing: border-box;
    margin: 0;
    max-width: 560px;
    align-self: center;
}


@media (max-width: 767px) {
    .cover__title {
        font-size: 32px;
        line-height: 1.1;
        max-width: 288px;
    }
}