.footer {
  max-width: 1184px;
  padding: 92px 0 24px 0;
  margin: 0 auto;
}

@media screen and (max-width: 1279px) {
  .footer {
      padding: 92px 48px 24px 48px;
  }
}

@media (max-width: 1023px) {
  .footer {
      padding: 88px 24px 24px 24px;
  }
}

@media (max-width: 767px) {
  .footer {
      padding: 64px auto 24px 16px;
  }
}
